body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4B0082;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


header .logo {
    font-size: 1.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: none;
}

header nav ul.menu.show {
    display: block;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .menu-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

figure {
    margin: 0;
}

figure img {
    width: 300px;
    height: auto;
}

footer {
    background-color: #4B0082;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
}
